
#animal-img {
    border: 6px solid black;
    display: block;
    margin: 0 auto;
    width: 500px;
    height: 400px;

    position: relative;
  }


#animal-name {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 100px;
    font-size: 30px;
    font-weight: bolder;
    position: absolute;
    top: 500px;
    left: 1080px;
  }



  #animalButton {
    border: 2px solid black;
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 100px;
    font-size: 20px;
    position: absolute;
    top: 600px;
    left: 900px;
  }


  #refreshButton {
    border: 2px solid black;
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 100px;
    font-size: 20px;
    position: absolute;
    top: 600px;
    left: 1340px;
    
  }

  body {
    background-color: forestgreen;
  }
  


