

#nameInputId, #birthYearInputId{
    width: 300px;
    display: block;
    margin-left:auto;
    margin-right:auto;
}

#submitBtn {
    display: block;
    margin-left:auto;
    margin-right:auto;
}